body {
  background-color: #D3E4CD;
}

h1 {
  color: #99A799;
}

h3 {
  color: #99A799;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
